{
  "extends": "../.eslintrc",
  "plugins": ["prettier"],
  "settings": {
    "import/resolver": "node"
  },
  "rules": {
    "import/no-commonjs": 0,
    "import/no-nodejs-modules": 0,
    "no-console": 0
  }
}
