version: 2.1

orbs:
  node: circleci/node@5.0

jobs:
  execute-npm:
    parameters:
      npm-run-command:
        type: string
    docker:
      - image: cimg/base:stable
    environment:
      SCRIVITO_TENANT: "1234567890abcdef1234567890abcdef"
    steps:
      - checkout
      - node/install
      - run:
          name: Install correct npm version
          command: |
            echo "Node version"
            node --version
            echo ""
            dpkg --compare-versions `npm -v` ge 7.10 || npm i -g npm@^7.10
            echo ""
            echo "NPM version"
            npm --version
      - node/install-packages
      - run: npm run << parameters.npm-run-command >>

workflows:
  main:
    jobs:
      - execute-npm:
          name: Foobar
          npm-run-command: build
      - execute-npm:
          npm-run-command: eslint
      - execute-npm:
          npm-run-command: es-check
