@import "src/assets/stylesheets/variables";

.bg-brand-primary,
.bg-brand-secondary,
.bg-dark-image,
.bg-grey,
.bg-greydark,
.bg-greymiddle {
  .contact-form-widget--card-white-transparent {
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    padding: 10px 20px 20px 20px;
    width: 100%;

    .checkbox label {
      color: rgba(255, 255, 255, 0.8);
      font-size: 13px;
      line-height: 18px;
    }

    label {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.bg-greylight,
.bg-greywhite,
.bg-white {
  .contact-form-widget--card-white-transparent {
    background: rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 10px 20px 20px 20px;
    width: 100%;

    .checkbox label {
      color: rgba(0, 0, 0, 0.8);
      font-size: 13px;
      line-height: 18px;
    }

    label {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.contact-form-widget {
  &--card-padding {
    margin: 10px 0;
    padding: 10px 20px 20px 20px;
    width: 100%;

    .checkbox label {
      font-size: 13px;
      line-height: 18px;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      color: $theme-grey !important;
    }
  }

  &--floating-label {
    .checkbox label {
      font-size: 13px;
      line-height: 18px;
      padding: 2px 5px 2px 20px;
      color: $theme-greymiddle;
    }

    label {
      font-size: 13px;
      line-height: 16px;
      color: #bbb;
      font-weight: 400;
      padding: 2px 5px;
      margin: 0 0 5px 10px;
      background: #fff;
      position: relative;
      z-index: 1;
    }

    .form-control {
      margin-top: -11px;
      border: 1px solid $theme-greylight;

      &:focus {
        box-shadow: 0 0 0 2px $secondary;
      }
    }
  }
}
