// Styles for FormContainerWidget
@import "src/assets/stylesheets/variables";

.form-container-widget {
  .text-super {
    vertical-align: super;
  }
  .text-mandatory {
    font-weight: bold;
    color: $secondary;
  }
  .fa {
    color: #ccc;
  }
  .help-cursor:hover {
    cursor: help;
  }
}
