// Styles for FormContainerWidget

.form-container-widget {
  .text-super {
    vertical-align: super;
  }
  .text-mandatory {
    font-weight: bold;
    color: red;
  }
  .fa {
    color: #ccc;
  }
  .help-cursor:hover {
    cursor: help;
  }
}
