@import "../../assets/stylesheets/bootstrap/mixins/clearfix";
@import "../../assets/stylesheets/fontawesome/variables";
@import "../../assets/stylesheets/fontawesome/core";
@import "../../assets/stylesheets/colors";

.tick-list-widget {
  list-style-type: none;
  padding-left: 15px;
  @include clearfix;
}
.tick-list-widget li {
  position: relative;
  padding: 0 0 20px 17px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.tick-list-widget li:before {
  display: block;
  position: absolute;
  top: 2px;
  left: -15px;
  content: "\f00c" !important;
  color: $secondary;
  @extend .fa;
}
