@import "src/assets/stylesheets/variables";
@import "src/assets/stylesheets/mixins";
@import "src/assets/stylesheets/bootstrap/bootstrap";

.gutter0 .gallery-box__wrapper {
  padding: 0;
}
.gallery-box {
  overflow: hidden;
  max-height: 800px;
  max-width: 800px;
  opacity: 1;
  @include transition(all 0.5s ease-in-out);
  @include transition-performance;

  &__wrapper {
    padding: 0 15px;
  }

  &__image {
    @include transition(all 0.5s ease-in-out);
    @include transition-performance;

    &:before {
      content: "";
      display: block;
      padding-top: 80%;
    }
  }

  &__content-wrapper {
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*  display: flex;
    justify-content: center;
    align-items: center; */
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    width: 100%;
    height: 100%;
    background: rgba($primary, 0.7);
    @include transition(all 0.5s ease-in-out);

    &:hover {
      text-decoration: none;
    }
  }

  .gallery-box__content {
    color: #fff;

    * {
      display: block;
      color: #fff;
      text-align: center;
    }

    .fa {
      font-size: 60px;
      padding: 10px 0;
    }

    .title {
      font-size: 22px;
      padding: 2px 0;
    }

    .subtitle {
      font-size: 14px;
      line-height: 1.3;
      position: absolute;
      bottom: 20px;
      left: 10px;
      right: 10px;
    }
  }

  &:hover {
    .gallery-box {
      &__image {
        transform: scale(1.2);
      }

      &__content-wrapper {
        opacity: 1;
      }
    }
  }

  &.--is-squeezed {
    max-height: 0;
    max-width: 0;
    opacity: 0;
  }
}

@media (max-width: $screen-sm-min) {
  .gallery-box {
    .gallery-box__content {
      .fa {
        font-size: 40px;
      }

      .title {
        font-size: 18px;
      }

      .subtitle {
        font-size: 12px;
        position: static;
      }
    }
  }
}
