@import "src/assets/stylesheets/variables";
@import "src/assets/stylesheets/mixins";
@import "src/assets/stylesheets/bootstrap5/functions";
@import "src/assets/stylesheets/bootstrap5/variables";
@import "src/assets/stylesheets/bootstrap5/mixins/transition";

.gutter0 .thumbnail-gallery-widget--wrapper {
  padding: 0;
}
.thumbnail-gallery-widget {
  overflow: hidden;
  max-height: 800px;
  max-width: 800px;
  opacity: 1;
  @include transition(all 0.5s ease-in-out);
  @include transition-performance;

  &--wrapper {
    padding: 0 15px;
  }

  &--image {
    @include transition(all 0.5s ease-in-out);
    @include transition-performance;

    &:before {
      content: "";
      display: block;
      padding-top: 80%;
    }
  }

  &--content-wrapper {
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba($primary, 0.7);
    @include transition(all 0.5s ease-in-out);

    &:hover {
      text-decoration: none;
    }
  }

  .thumbnail-gallery-widget--content {
    color: #fff;

    * {
      display: block;
      color: #fff;
      text-align: center;
    }

    .fa {
      font-size: 60px;
      padding: 10px 0;
    }

    .title {
      font-size: 22px;
      padding: 2px 0;
    }

    .subtitle {
      font-size: 14px;
      line-height: 1.3;
      position: absolute;
      bottom: 20px;
      left: 10px;
      right: 10px;
    }
  }

  &:hover {
    .thumbnail-gallery-widget {
      &--image {
        transform: scale(1.2);
      }

      &--content-wrapper {
        opacity: 1;
      }
    }
  }

  &.squeezed {
    max-height: 0;
    max-width: 0;
    opacity: 0;
  }

  // --  modal content stylings -- //

  &--modal {
    padding: 0 !important;

    .modal-dialog,
    .modal-content {
      background: transparent;
      border: none;
      position: static;
    }

    .slick-slide-close-button {
      cursor: pointer;
      background: none transparent;
      border: 0;
      display: block;
      padding: 0.5rem;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 111;
      -webkit-appearance: button;

      .fa {
        color: white;
        font-size: 32px;
      }
    }

    .slider-next-arrow,
    .slider-prev-arrow {
      all: initial;

      position: absolute;
      display: block;
      cursor: pointer;
      top: 0;
      height: 100%;
      z-index: 111;

      .fa {
        color: white;
        font-size: 100px;
      }
    }

    .slider-prev-arrow {
      left: -25px;
    }

    .slider-next-arrow {
      right: -25px;
    }

    @media (max-width: $screen-sm-max) {
      .slider-prev-arrow {
        left: 0px;

        .fa {
          font-size: 55px;
        }
      }

      .slider-next-arrow {
        right: 0px;

        .fa {
          font-size: 55px;
        }
      }
    }

    .slick-slide {
      .image-wrapper {
        display: block;
        overflow: hidden;
        background: transparent;
        height: auto;
        position: relative;
        padding-top: 50%;

        img {
          display: block;
          background: transparent;
          box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.25);
          border-radius: 6px;
          max-height: calc(100% - 30px);
          max-width: 100%;
          object-fit: contain;
          margin: 0 auto;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      .photo-caption {
        color: #fff;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 600;
        font-size: 1rem;
        line-height: 20px;
        text-align: center;
        margin: 0;
      }
    }

    .slick-dots {
      bottom: auto;

      li {
        width: 58px;
        height: 50px;
        border-radius: 4px;
        border: 2px solid transparent;
        box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.25);
        opacity: 0.7;

        button:before {
          display: none;
        }
      }

      li.slick-active {
        border: 2px solid #eee;
        opacity: 1;
      }
    }

    .slick-thumb li button {
      cursor: pointer;
      position: relative;
      display: block;
      overflow: hidden;
      background: transparent;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      -webkit-appearance: button;

      .image {
        width: 58px;
        height: 50px;
      }
    }
  }
}

.modal-backdrop.show {
  opacity: 1 !important;
  background-color: rgba(22, 22, 22, 0.9) !important;
}

.gallery-modal .gallery-modal--container {
  .gallery-thumbnails--toggle {
    visibility: hidden;
  }
  button.thumbnail-button {
    border: none;
  }
  .photo-caption {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
  }
}

@media (max-width: $screen-sm-max) {
  .thumbnail-gallery-widget {
    .thumbnail-gallery-widget--content {
      .fa {
        font-size: 40px;
      }

      .title {
        font-size: 18px;
      }

      .subtitle {
        font-size: 12px;
        position: static;
      }
    }
  }
}
