.about-team {
  .slick-list {
    margin: 0 -10px;

    // &::before,
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   width: 1000px;
    //   background-color: rgba(255, 255, 255, 0.7);
    //   z-index: 1;
    // }

    // &::before { left: -1000px; }
    // &::after { right: -1000px; }
  }
  .slick-slide {
    padding: 10px;
  }
  .slick-arrow {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 22px;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.09);

    &::before {
      content: none;
    }
    &.slick-prev {
      left: -82px;
    }
    &.slick-next {
      right: -82px;
    }

    i {
      font-size: 12px;
      line-height: 12px;
      color: #FD5092;
    }
  }

}