.loader {
  display: block;
  font-size: 10px;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  text-indent: -9999em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background: $secondary;
  background: -moz-linear-gradient(
    left,
    $secondary 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    $secondary 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(
    left,
    $secondary 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -ms-linear-gradient(
    left,
    $secondary 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    $secondary 10%,
    rgba(255, 255, 255, 0) 42%
  );
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;

  &:before {
    width: 50%;
    height: 50%;
    background: $secondary;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
  }

  &:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
