@import "src/assets/stylesheets/variables";
@import "src/assets/stylesheets/bootstrap5/functions";
@import "src/assets/stylesheets/bootstrap5/variables";
@import "src/assets/stylesheets/bootstrap5/mixins/transition";

.navbar-toggler:focus {
  box-shadow: none;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  text-decoration: none !important;
}

/* .bg-dark-image .navbar-brand { background: $logo-white no-repeat center center / contain; } */
.bg-dark-image {
  .nav > li > a {
    color: #fff !important;
  }

  .navbar-toggler .icon-bar {
    background: #fff;
  }
}

/* .scrolled.bg-dark-image .navbar-brand { background: $logo-dark no-repeat center center / contain; } */

.scrolled {
  .navbar {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }

  &.bg-dark-image {
    .navbar-nav > {
      li > a {
        color: $theme-greydark !important;
      }

      li.active > a {
        color: #fff !important;
      }
    }

    .nav > li {
      &.active > a,
      &.open > a {
        color: #fff !important;
      }
    }

    .navbar-toggler .icon-bar {
      background: $primary;
    }
  }
}

.nav {
  margin: 0;

  &.navbar-right {
    margin-left: auto;
    margin-right: 45px;
  }

  > li,
  > li > a {
    position: relative;
    display: block;
  }

  > li {
    transition: background-color 0.15s ease-in-out;

    &:hover > a,
    &:focus > a {
      background: transparent;
    }

    &.open {
      background: $nav-hover !important;
      > a,
      > .menu-toggle {
        color: #fff !important;
      }
    }

    &.active {
      background: $primary !important;
      > a,
      > .menu-toggle {
        color: #fff !important;
      }
    }

    > .dropdown-menu {
      border-radius: 0;
      border: none;
      left: 50%;
      margin-top: 0px;
      right: auto;
      text-align: left;
      position: absolute !important;
      transform: translate(-50%, 20px);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1),
        0 -20px 10px rgba(44, 44, 44, 0.04);
      padding: 10px;
      font-size: 14px;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 20px;
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
      }

      &:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
      }
    }
  }

  .dropdown-menu > li {
    > a {
      color: $theme-grey;
      padding: 5px 10px !important;
      text-align: center;

      &:hover,
      &:focus {
        background: $nav-hover;
        color: #fff;
      }
    }

    &.active > {
      a {
        background: $primary !important;
        color: #fff !important;
      }
    }
  }
}

.navbar {
  padding: 0;
  min-height: 75px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

  &-brand {
    display: inline-block;
    width: 120px;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    height: 75px;
    padding: 25px 0;

    img {
      margin: 0;
    }
  }

  &-nav > li > a {
    height: 75px;
    position: relative;
    padding: 25px 15px !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: $theme-greydark;
    display: inline-block;
  }

  &-search-toggle {
    position: absolute;
    top: 0;
    right: 10px;
    display: block;
    height: 75px;
    width: 50px;
    padding: 23px 0;
    text-align: center;

    &:after {
      font-size: 18px;
      content: "|";
      color: #ddd;
      position: absolute;
      top: 22px;
      left: -9px;
    }

    &:hover {
      cursor: pointer;
    }

    &.disabled {
      &:hover {
        cursor: auto;
      }

      .fa {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .fa {
      font-size: 22px;
      padding: 0;
      color: $theme-greylight;
    }
  }

  &-toggler {
    float: left;
    margin: 0;
    padding: 9px 20px;
    height: 75px;
    border: none !important;
    border-radius: 0;

    &:hover,
    &:focus {
      background: transparent !important;
    }

    &:not(.collapsed) {
      background: #fff !important;

      .icon-bar {
        background: $primary !important;
      }
    }

    .icon-bar {
      display: block;
      height: 2px;
      border-radius: 1px;
      background: $primary;
      width: 30px;

      + .icon-bar {
        margin-top: 6px;
      }
    }
  }

  &-transparent {
    background: transparent;
    @include transition(all 0.3s ease-in-out);
    box-shadow: none;
  }
}

[id] {
  scroll-margin-top: 75px;
}

/* menu toggle */

.menu-toggle {
  display: block;
  float: right;
  margin-left: -10px;
  width: 35px;

  &:hover {
    cursor: pointer;

    .fa {
      color: darken($primary, 15%);
    }
  }

  .fa {
    display: block;
    height: 75px;
    width: 35px;
    line-height: 75px;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    color: $theme-greywhite;
    @include transition(transform 0.2s ease-in-out);
  }
}

.bg-white {
  .navbar-search-toggle .fa {
    color: $primary !important;
  }
  .menu-toggle .fa {
    color: $theme-greydark !important;
  }
}

.active .menu-toggle .fa {
  color: #fff !important;
}

.open {
  .menu-toggle .fa {
    color: #fff !important;
    transform: rotate(180deg);
  }

  > .dropdown-menu {
    display: block;
  }
}

.scrolled {
  .navbar-search-toggle .fa {
    color: $primary;
  }
  .nav-item:not(.active) .menu-toggle .fa {
    color: $theme-greydark;
  }
}

.navbar-header,
.navbar-collapse,
.search-box {
  @include transition(all 0.2s ease-in-out);
}

.show-search {
  .navbar-header,
  .navbar-collapse {
    opacity: 0;
  }

  .navbar-search-toggle {
    display: none;
  }

  .search-box {
    opacity: 1;
    z-index: 1;
  }
}

.search-box {
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 5px;
  left: 20px;
  z-index: -1;

  .btn {
    &-clear-white {
      background: transparent;
      border-color: transparent;
      padding: 0 10px;
      min-height: 36px;
      margin: 0;

      .fa {
        font-size: 20px;
        padding: 0 0 3px 0;
        color: $primary;
        text-align: center;
      }
    }

    &-search {
      border-radius: 0 50px 50px 0 !important;
      background: $primary;
      border-color: $primary;
      padding: 3px 10px;
      min-height: 36px;
      margin: 0;

      .fa {
        font-size: 16px;
        padding: 0 0 4px 0;
        color: #fff;
        text-align: center;
      }
    }
  }

  .form-control {
    background: #e9e9e9;
    border-radius: 50px 0 0 50px;
    border: 0px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
  }
}

/* search-suggest
=================================================================== */

.search-box-suggest {
  background: #e9e9e9;
  width: 100%;
  color: gray;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
  display: none;
  z-index: 9;
}
.search-box-suggest li {
  padding: 5px 10px;
  box-shadow: 0 0 1px #aaa;
}
.search-box-suggest li:first-child {
  box-shadow: none;
}
.search-box-suggest li.active,
.search-box-suggest li:hover {
  background: #fff;
  cursor: pointer;
}

.search-box .search-box-suggest {
  width: calc(100% - 40px);
  position: absolute;
  top: 100%;
  left: 0;
}

.nav-centered .search-box-suggest {
  background: #f3f3f3;
  border-radius: 0;
  position: relative;
  max-width: 780px;
  width: calc(100% - 20px);
  margin: -40px auto 0 auto;
}

/* -- */

@media (min-width: $screen-lg-min) {
  .navbar .container {
    padding: 0 40px;
    max-width: 100%;
  }
}
@media (max-width: $screen-md-max) {
  .navbar-search-toggle:after {
    display: none;
  }
}
@media (max-width: $screen-sm-max) {
  .fixed-top,
  .fixed-bottom {
    .navbar-collapse {
      max-height: calc(100vh - 76px);
      width: 100%;
      overflow-y: auto;
    }
  }

  .navbar {
    &-brand {
      float: none;
      display: block;
      padding: 20px 0;
      margin: 0 auto;
      width: 145px;
    }

    &-collapse {
      padding: 0;
      border: 0;
    }

    &-header {
      width: 100%;
    }

    &-nav > li > a {
      height: auto;
      padding: 13px 20px !important;
      font-weight: 500;
      font-size: 24px;
      text-transform: none;
      border-top: 1px solid #eee;
      text-align: left;
    }

    &-search-toggle {
      .fa {
        font-size: 28px;
      }

      &:after {
        display: none;
      }
    }
  }

  .nav {
    margin: 0 !important;
    padding: 20px 15px;
    background: #fff;

    .dropdown-menu > li > a {
      text-align: left;
      padding: 10px 20px;
    }

    > li {
      &.active,
      &.open {
        > .menu-toggle {
          background: transparent !important;
        }
      }

      &:hover > ul {
        display: none;
      }

      &:first-child > a {
        border: 0;
      }

      > .dropdown-menu {
        left: auto;
        margin-top: 0px;
        right: auto;
        text-align: left;
        transform: none;
        padding: 10px;

        &:before,
        &:after {
          display: none;
        }
      }
    }

    .open {
      > a {
        &,
        &:hover,
        &:focus {
          background: #bbb !important;
          color: #fff !important;
          border-top: 1px solid rgba(255, 255, 255, 0.2);
        }
      }

      .dropdown-menu {
        box-shadow: none;
        padding: 0;
        position: static !important;

        a {
          border-top: 1px solid #eee;
          font-size: 17px;
          padding: 13px 20px !important;
        }
      }
    }
  }

  .nav > li > a,
  .bg-dark-image .nav > li > a {
    color: $theme-greydark !important;
    display: block;
  }

  .bg-dark-image .nav > li {
    &.active > a,
    &.open > a {
      color: #fff !important;
    }
  }

  .open > .dropdown-menu {
    display: block !important;
  }

  /* menu toggle */

  .active .menu-toggle .fa {
    color: #fff;
  }

  .open .menu-toggle .fa {
    color: #fff;
    transform: rotate(180deg);
  }

  .menu-toggle {
    background: transparent !important;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    padding: 0;

    &:hover {
      cursor: pointer;

      .fa {
        color: darken($primary, 50%);
      }
    }

    .fa {
      display: block;
      height: 50px;
      width: 50px;
      line-height: 50px;
      font-size: 26px;
      text-align: center;
      margin: 0 auto;
      color: $primary;
      @include transition(all 0.2s ease-in-out);
    }
  }
}

/* special navbar
=================================================================== */

.bg-nav-content {
  height: 0;
  position: relative;
  z-index: 1000;

  .nav-centered .nav-item {
    margin-top: -30px;
  }
}

.negative-margin-top .nav {
  padding: 0;
  transform: translate(-0, -30px);
}

.nav-centered {
  .nav-pills {
    .nav-item {
      border: 10px solid #fff;
      border-left: 0;

      &:first-child {
        border-left: 10px solid #fff;
      }
    }

    .active .nav-link {
      border: 1px solid $primary;
      color: $primary !important;
    }

    .nav-link {
      background: #fff;
      border-radius: 0;
      padding: 10px 15px;
      color: $theme-greydark;
      border: 1px solid $theme-greylight;
      text-transform: uppercase;
    }
  }

  select {
    background: #fff;
    border: 5px solid #fff;
    box-shadow: 0 0 0 1px $theme-greylight inset;
    border-radius: 0;
    outline: none;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    display: block;
    font-size: 15px;
    line-height: 20px;
    margin: -20px 0 0 0;
    padding: 8px 12px;
    position: relative;
    width: 100%;
    z-index: 2;
  }

  .input-group {
    border: 10px solid #fff;
    max-width: 800px;
    margin: 0 auto;
    transform: translate(0, -25px);

    .btn .fa {
      font-size: 22px;
    }

    .form-control {
      height: 51px;
      padding: 13px 20px 10px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .nav-centered .input-group .btn .fa {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .nav-centered {
    &.select-icon {
      position: relative;

      &:after {
        content: "";
        z-index: 3;
        display: block;
        position: absolute;
        top: 12px;
        right: 20px;
        border-right: 2px solid #333;
        border-top: 2px solid #333;
        height: 14px;
        width: 14px;
        transform: rotate(135deg);
        click-events: none;
      }
    }

    .nav {
      border: none;

      li {
        margin: 3px !important;
      }
    }
  }
}

/* nav-landing-page
=================================================================== */

.nav-landing-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  text-align: center;

  .navbar-brand {
    float: none;
    margin: 0 auto;
    padding: 0;

    img {
      width: 120px;
      margin: 0 auto;
      padding: 25px 0;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .nav-landing-page .navbar-brand img {
    width: 145px;
    margin: 0 auto;
    padding: 20px 0;
  }
}
