.price-calculator-box {
  .main-box {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .price-sel > div > div:first-child {
      padding-left: 20px;
    }
    a {
      cursor: pointer;
    }
    &.box2 {
      max-width: 700px;
      display: flex;
      align-items: center;
      button {
        margin-bottom: 40px;
      }
      .box2-content {
        box-sizing: border-box;
        min-height: 598px;
        width: 100%;
        border: 1px solid #D7D7D7;
        border-radius: 3px;
        background-color: #FFFFFF;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.07);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .box2-heading {
          display: flex;
          justify-content: space-between;
          padding: 30px;
          align-items: center;
          border-bottom: 1px solid #D7D7D7;
          > div:first-child {
            display: flex;
            flex-direction: column;
          }
          > div:last-child {
            width: 170px;
          }
        }
        .recharts-wrapper {
          margin-bottom: 50px;
          > svg {
            overflow: visible;
          }
        }
      }
    }
    p {
      color: #6C738A;
      font-size: 18px;
    }
    // tspan {
    //   font-size: 10px;
    // }
    label {
      color: #282A2C;
      font-size: 14px;
    }
    input {
      box-sizing: border-box;
      height: 61px;
      width: 100%;
      border: 1px solid #D7D7D7;
      border-radius: 3px;
      background-color: #FFFFFF;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.07);
      padding-left: 30px;
      padding-right: 30px;
    }
    .input-wrapper{
      position: relative;
      input {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.07);
        height: 61px;
      }
      .check-mark {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        background-color: #FD5092;
        box-shadow: 0 4px 8px 0 rgba(253,80,146,0.6);
        position: absolute;
        right: 10px;
        top: 15.5px;
        color: white;
        text-align: center;
        line-height: 30px;
        i {
          color: white;
        }
      }
    }
    div {
      input {
        height: 49px;
        box-shadow: none;
      }
    }
    .p-calculater-div {
      margin-bottom: 25px;
    }
    .p-calculater-selector {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      
      .cal-item {
        display: flex;
        flex-direction: column;
        width: 31%;
        border: 1px solid #D7D7D7;
        border-radius: 3px;
        background-color: #FFFFFF;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.07);
        padding: 30px;
        text-align: center;
        color: #282A2C;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        &.active {
          border: 1px solid #4DE9BF;
          border-radius: 3px;
          background-color: rgba(77,233,191,0.08);
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.07);
        }
        img {
          margin: 0 auto 25px;
        }
      }
    }
    button {
      height: 60px;
      width: 100%;
      border-radius: 6px;
      background: linear-gradient(315.15deg, #FF4B9C 0%, #EF7B40 100%);
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.07);
      color: white;
      margin-top: 40px;
      max-width: 500px;
      border: none;
    }
    a.link {
      height: 60px;
      width: 100%;
      border-radius: 6px;
      background: linear-gradient(315.15deg, #FF4B9C 0%, #EF7B40 100%);
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.07);
      color: white;
      margin-top: 40px;
      max-width: 500px;
      border: none;
      text-align: center;
      line-height: 60px;
    }
    .a-calculater {
      color: inherit;
      text-decoration: none;
      margin-bottom: 20px;
    }
  }
  .pric_calc_alert {
    background: #0000009f;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    div {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      background: white;
      max-width: 600px;
      padding: 50px;
      justify-content: space-between;
      align-items: center;
      border-radius: 15px;
      p {
        margin-right: 15px;
      }
      button {
        position: absolute;
        right: 0px;
        background: none;
        top: -35px;
        border: none;
        padding: 0px;
        cursor: pointer;
        img {
          width: 30px;
        }
      }
    }
  }
}