.price-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .main-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 30px;
    border-radius: 15px;
    background-color: #FFFFFF;
    color: #6C738A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.07);
    z-index: 1;

    .divider-h {
      height: 1px;
      width: 500px;
      border: 1px solid #6C738A;
      opacity: 0.1;
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.07);
    }
    .divider-v {
      height: 289px;
      margin: 0 35px;
      width: 1px;
      border: 1px solid #6C738A;
      opacity: 0.1;
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.07);
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;

      .divider-h {
        width: 100%;
      }

      .divider-v {
        width: 80%;
        height: 1px;
        margin: 40px 0;
      }
    }
  }
}