@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Rubik"),
    url(../fonts/rubik/Rubik-Regular.ttf)
      format("truetype"),
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Rubik"),
    url(../fonts/rubik/Rubik-Bold.ttf)
      format("truetype"),
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Rubik"),
    url(../fonts/rubik/Rubik-Italic.ttf)
      format("truetype"),
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Rubik"),
    url(../fonts/rubik/Rubik-BoldItalic.ttf)
      format("truetype"),
}

@font-face {
  font-family: "Rubik Black";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Rubik-Black"),
    url(../fonts/rubik/Rubik-Black.ttf)
      format("truetype"),
}

@font-face {
  font-family: "Rubik Black";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Rubik-Black"),
    url(../fonts/rubik/Rubik-BlackItalic.ttf)
      format("truetype"),
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Rubik"),
    url(../fonts/rubik/Rubik-Light.ttf)
      format("truetype"),
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Rubik"),
    url(../fonts/rubik/Rubik-LightItalic.ttf)
      format("truetype"),
}

@font-face {
  font-family: "Rubik Medium";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Rubik-Medium"),
    url(../fonts/rubik/Rubik-Medium.ttf)
      format("truetype"),
}

@font-face {
  font-family: "Rubik Medium";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Rubik-Medium"),
    url(../fonts/rubik/Rubik-MediumItalic.ttf)
      format("truetype"),
}