.social_card_img {
  max-height: 150px;
  margin-bottom: 10px;
  width: auto;
}

.social_card_preview {
  .creator {
    font-size: 13px;
    font-weight: bold;
    padding: 6px 3px 0 3px;
    color: #2b7bb9;
  }
  .card {
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    margin: 0;
  }
  .card_text {
    padding: 10px 10px 5px 10px;
    font-size: 13px;
  }
  .card_text h5 {
    margin: 0 0 3px 0;
    font-weight: bold;
    font-size: 17px;
  }
  .card_text p {
    margin: 0 0 5px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
  }
  .social_card_img {
    max-height: 240px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
  .twitter_card {
    max-width: 506px;
    min-height: 125px;
  }
  .fb_card {
    max-width: 470px;
    min-height: 157px;
  }
}

.scrivito_dark {
  .social_card_preview {
    .card {
      background: rgba(222, 222, 222, 0.2);
    }
    .card_text h5 {
      color: #ccc !important;
    }
    .card_text p {
      color: #ddd !important;
    }
    .creator {
      color: #5e86be;
    }
  }
}
