.b-bottom {
  display: block;
  position: relative;
  padding: 10px 0 20px 0;
}
.b-bottom:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin: 0 0 0 -20px;
  width: 40px;
  height: 1px;
  background: rgba(111, 111, 111, 0.2);
}
.bg-greydark .b-bottom:after {
  background: rgba(111, 111, 111, 0.7);
}

.clear {
  clear: both;
}

.container,
.container-fluid {
  position: relative;
}
.container-fluid img {
  margin: 0;
}

.container .container {
  width: auto;
}

.container-initial {
  position: initial !important;
}

.date,
.author {
  font-size: 11px;
  padding-right: 5px;
  line-height: 1.5em;
}

.fa {
  color: $secondary;
}

img,
.img-fluid {
  margin: 0 0 25px 0;
  max-width: 100%;
}
.img-fluid.pull-left {
  margin: 0 15px 25px 0;
  max-width: 50%;
}
.img-fluid.pull-right {
  margin: 0 0 25px 15px;
  max-width: 50%;
}

.logo {
  /* background: $logo-dark no-repeat center center / contain; height: 50px; */
  width: 150px;
  margin-bottom: 20px;
}

.neg-margin {
  margin-right: -15px;
  margin-left: -15px;
}

.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

.margin-top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-right {
  margin-right: 10px;
}

.text-left.b-bottom:after {
  left: 0%;
  margin: 0;
}
.text-right.b-bottom:after {
  left: auto;
  right: 0%;
  margin: 0;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 0 solid #fff;
  border-bottom: 1px solid #ddd;
  clear: both;
  position: relative;
}

ul,
ol {
  margin-bottom: 5px;
  margin-top: 5px;
}
ul {
  padding-left: 20px;
}

::selection {
  color: #fff;
  background: $secondary;
}
::-moz-selection {
  color: #fff;
  background: $secondary;
}

/* button adaoptions
=================================================================== */
button:focus {
  outline: none !important;
}

.btn {
  border-radius: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 13px 20px 10px;
  margin: 0 0 10px 0;
}
.btn .fa {
  padding: 0 0 3px 15px;
  font-size: 26px;
  vertical-align: middle;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  color: #fff;
  .fa {
    color: #fff;
  }
}
.btn-link .fa {
  color: $theme-grey;
}

.btn-clear {
  color: $theme-greydark;
  padding-left: 0;
  padding-right: 0;
}
.btn-clear .fa {
  color: $primary;
}
.btn-clear:hover,
.btn-clear:active,
.btn-clear:focus {
  box-shadow: none !important;
}

.btn-white-transparent {
  background: rgba(255, 255, 255, 0.1);
  color: $secondary;
}
.btn-white-transparent:hover {
  background: rgba(255, 255, 255, 0.2);
}
.btn-round {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}
.btn-round i {
  font-size: 33px;
  line-height: 50px;
}

.btn-round:hover {
  cursor: pointer;
}
.bg-dark-image .btn-round {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin: 0 0 0 -25px;
}

/* gutter with zero space
================================================== */

.gutter0 {
  padding-left: 0px;
  padding-right: 0px;
}
.gutter0 .row {
  margin-left: 0px;
  margin-right: 0px;
}
.gutter0 .row > [class^="col-"],
.gutter0 .row > [class*=" col-"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gutter10 {
  padding-left: 5px;
  padding-right: 5px;
}
.gutter10 .row {
  margin-left: -5px;
  margin-right: -5px;
}
.gutter10 .row > [class^="col-"],
.gutter10 .row > [class*=" col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

/* video background
=================================================================== */
.video-full-screen {
  min-width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  z-index: -10;
}

/* titles of modules
=================================================================== */

.title-bgc {
  background-color: $secondary;
  padding: 3rem;
  h1 {
    color: #fff;
    margin-bottom: 0;
  }
  span {
    color: #fff;
  }
}

.details-title-box {
  margin: 1rem 0;
  i.fa {
    width: 20px;
    margin-right: 10px;
    font-size: 15px;
    text-align: center;
    color: #fff;
  }
  .font-weight-bold {
    margin-right: 0.25rem;
  }
  h2,
  div {
    color: #fff;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .location-title {
    margin-top: 10px;
    h2 {
      margin-bottom: 0;
      text-transform: uppercase;
    }
    .event-info {
      margin-left: 1.9rem;
    }
  }
}

/* sections
=================================================================== */

.bg-dark-image,
.bg-grey,
.bg-greydark,
.bg-greylight,
.bg-greymiddle,
.bg-greywhite,
.bg-white,
.bg-brand-primary,
.bg-brand-secondary {
  padding: 60px 0;
  clear: both;
  position: relative;
}

.bg-dark-image,
.bg-grey,
.bg-greydark,
.bg-greylight,
.bg-greymiddle,
.bg-greywhite,
.bg-white {
  &.medium-height {
    min-height: 300px;
  }
  &.min-height {
    min-height: 150px;
  }
}
@media (max-width: $screen-xs-max) {
  .bg-dark-image,
  .bg-grey,
  .bg-greydark,
  .bg-greylight,
  .bg-greymiddle,
  .bg-greywhite,
  .bg-white {
    &.min-height,
    &.medium-height {
      min-height: 0;
    }
  }
}

.nav-only {
  padding: 0 !important;
  height: 75px;
}

.bg-brand-primary {
  background: $primary;
}
.bg-brand-secondary {
  background: $secondary;
}

.bg-dark-image {
  background: $theme-greymiddle;
}
.bg-grey {
  background: $theme-grey;
}
.bg-greylight {
  background: $theme-greylight;
}
.bg-greydark {
  background: $theme-greydark;
}
.bg-greymiddle {
  background: $theme-greymiddle;
}
.bg-greywhite {
  background: $theme-greywhite;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* content adaptions */

.bg-dark-image,
.bg-brand-primary,
.bg-brand-secondary,
.bg-grey,
.bg-greydark,
.bg-greymiddle {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  .card.card-theme,
  .edit-mode-link {
    color: #fff !important;
  }
}

footer {
  .bg-dark-image,
  .bg-brand-primary,
  .bg-brand-secondary,
  .bg-grey,
  .bg-greydark,
  .bg-greymiddle {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    ul li a,
    ul li span,
    address,
    address a {
      color: #fff !important;
    }
  }
}

.bg-brand-primary,
.bg-brand-secondary {
  .fa {
    color: #fff !important;
  }
}

/* content align */

.full-height {
  display: flex;
  min-height: 100vh;
}
.medium-height .container,
.full-height .container {
  margin: auto !important;
}
.medium-height,
.height-center {
  display: flex;
  text-align: center;
}
.height-center .container {
  margin: auto !important;
}

/* nav section adaptions */
section.navbar-fixed {
  padding-top: 80px;
  overflow: hidden;
}
