.b-bottom {
  display: block;
  position: relative;
  padding: 10px 0 20px 0;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin: 0 0 0 -20px;
    width: 40px;
    height: 1px;
    background: rgba(111, 111, 111, 0.2);
  }

  .bg-greydark &:after {
    background: rgba(111, 111, 111, 0.7);
  }
}

.clear {
  clear: both;
}

.container {
  &,
  &-fluid {
    position: relative;
  }

  &-fluid {
    img {
      margin: 0;
    }
  }

  &-initial {
    position: initial !important;
  }

  & & {
    width: auto;
  }
}

.date,
.author {
  font-size: 11px;
  padding-right: 5px;
  line-height: 1.5em;
}

.fa {
  color: $secondary;
}

img,
.img-fluid {
  margin: 0 0 25px 0;
  max-width: 100%;
}

.img-fluid {
  &.pull-left {
    margin: 0 15px 25px 0;
    max-width: 50%;
  }

  &.pull-right {
    margin: 0 0 25px 15px;
    max-width: 50%;
  }
}

.logo {
  /* background: $logo-dark no-repeat center center / contain; height: 50px; */
  width: 150px;
  margin-bottom: 20px;
}

.neg-margin {
  margin-right: -15px;
  margin-left: -15px;
}

.no {
  &-margin {
    margin: 0 !important;
  }

  &-padding {
    padding: 0 !important;
  }
}

.margin {
  &-top {
    margin-top: 20px;
  }

  &-bottom {
    margin-bottom: 20px;
  }

  &-right {
    margin-right: 10px;
  }
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 0 solid #fff;
  border-bottom: 1px solid #ddd;
  clear: both;
  position: relative;
}

ul,
ol {
  margin-bottom: 5px;
  margin-top: 5px;
}
ul {
  padding-left: 20px;
}

::selection {
  color: #fff;
  background: $secondary;
}
::-moz-selection {
  color: #fff;
  background: $secondary;
}

/* button adaoptions
=================================================================== */
button:focus {
  outline: none !important;
}

.btn {
  border-radius: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 13px 20px 10px;
  margin: 0 0 10px 0;

  .fa {
    padding: 0 0 3px 15px;
    font-size: 26px;
    vertical-align: middle;
  }

  &-primary,
  &-secondary,
  &-success,
  &-info,
  &-warning,
  &-danger {
    color: #fff;

    .fa {
      color: #fff;
    }
  }

  &-link {
    .fa {
      color: $theme-grey;
    }
  }

  &-clear {
    color: $theme-greydark;
    padding-left: 0;
    padding-right: 0;

    .fa {
      color: $primary;
    }

    &:hover,
    &:active,
    &:focus {
      box-shadow: none !important;
    }
  }

  &-white-transparent {
    background: rgba(255, 255, 255, 0.1);
    color: $secondary;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &-white-transparent,
  &-round {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
  }

  &-round {
    i {
      font-size: 33px;
      line-height: 50px;
    }

    &:hover {
      cursor: pointer;
    }

    .bg-dark-image & {
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin: 0 0 0 -25px;
    }
  }
}

/* gutter with zero space
================================================== */

.gutter0 {
  padding-left: 0px;
  padding-right: 0px;

  .row {
    margin-left: 0px;
    margin-right: 0px;

    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.gutter10 {
  padding-left: 5px;
  padding-right: 5px;

  .row {
    margin-left: -5px;
    margin-right: -5px;

    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

/* video background
=================================================================== */
.video-full-screen {
  min-width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  z-index: -10;
}

/* titles of modules
=================================================================== */

.title-bgc {
  background-color: $secondary;
  padding: 3rem;

  h1 {
    color: #fff;
    margin-bottom: 0;
  }

  span {
    color: #fff;
  }
}

.details-title-box {
  margin: 1rem 0;

  i.fa {
    width: 20px;
    margin-right: 10px;
    font-size: 15px;
    text-align: center;
    color: #fff;
  }

  .font-weight-bold {
    margin-right: 0.25rem;
  }

  h2,
  div {
    color: #fff;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .location-title {
    margin-top: 10px;

    h2 {
      margin-bottom: 0;
      text-transform: uppercase;
    }

    .event-info {
      margin-left: 1.9rem;
    }
  }
}

/* sections
=================================================================== */

.bg-dark-image,
.bg-grey,
.bg-greydark,
.bg-greylight,
.bg-greymiddle,
.bg-greywhite,
.bg-white,
.bg-brand-primary,
.bg-brand-secondary {
  padding: 60px 0;
  clear: both;
  position: relative;
}

.bg-dark-image,
.bg-grey,
.bg-greydark,
.bg-greylight,
.bg-greymiddle,
.bg-greywhite,
.bg-white {
  &.medium-height {
    min-height: 300px;
  }

  &.min-height {
    min-height: 150px;
  }
}

.nav-only {
  padding: 0 !important;
  height: 75px;
}

.bg-brand {
  &-primary {
    background: $primary;
  }

  &-secondary {
    background: $secondary;
  }
}

.bg-dark-image {
  background: $theme-greymiddle;
}

.bg-grey {
  background: $theme-grey;

  &light {
    background: $theme-greylight;
  }

  &dark {
    background: $theme-greydark;
  }

  &middle {
    background: $theme-greymiddle;
  }

  &white {
    background: $theme-greywhite;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}

/* content adaptions */

.bg-dark-image,
.bg-brand-primary,
.bg-brand-secondary,
.bg-grey,
.bg-greydark,
.bg-greymiddle {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  .card.card-theme,
  .edit-mode-link {
    color: #fff !important;
  }
}

footer {
  .bg-dark-image,
  .bg-brand-primary,
  .bg-brand-secondary,
  .bg-grey,
  .bg-greydark,
  .bg-greymiddle {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    ul li a,
    ul li span,
    address,
    address a {
      color: #fff !important;
    }
  }
}

.bg-brand-primary,
.bg-brand-secondary {
  .fa {
    color: #fff !important;
  }
}

/* content align */

.full-height {
  display: flex;
  min-height: 100vh;
}

.full-height,
.height-center,
.medium-height {
  .container {
    margin: auto !important;
  }
}

.medium-height,
.height-center {
  display: flex;
  text-align: center;
}

/* nav section adaptions */
section.navbar-fixed {
  padding-top: 80px;
  overflow: hidden;
}

/* RESPONSIVE
================================================== */

@media (max-width: $screen-xs-max) {
  .bg-dark-image,
  .bg-grey,
  .bg-greydark,
  .bg-greylight,
  .bg-greymiddle,
  .bg-greywhite,
  .bg-white {
    &.min-height,
    &.medium-height {
      min-height: 0;
    }
  }
}
