.b-bottom {
  display: block;
  position: relative;
  padding: 10px 0 20px 0;
}
.b-bottom:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin: 0 0 0 -20px;
  width: 40px;
  height: 1px;
  background: rgba(111, 111, 111, 0.2);
}
.bg-greydark .b-bottom:after {
  background: rgba(111, 111, 111, 0.7);
}

.clear {
  clear: both;
}

.container,
.container-fluid {
  position: relative;
}
.container-fluid img {
  margin: 0;
}

.container .container {
  width: auto;
}

.container-initial {
  position: initial !important;
}

.date,
.author {
  font-size: 11px;
  padding-right: 5px;
  line-height: 1.5em;
}

.fa {
  color: $secondary;
}

img,
.img-fluid {
  margin: 0 0 25px 0;
  max-width: 100%;
}
.img-fluid.pull-left {
  margin: 0 15px 25px 0;
  max-width: 50%;
}
.img-fluid.pull-right {
  margin: 0 0 25px 15px;
  max-width: 50%;
}

.logo {
  /* background: $logo-dark no-repeat center center / contain; height: 50px; */
  width: 150px;
  margin-bottom: 20px;
}

.neg-margin {
  margin-right: -15px;
  margin-left: -15px;
}

.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

.margin-top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-right {
  margin-right: 10px;
}

.text-left.b-bottom:after {
  left: 0%;
  margin: 0;
}
.text-right.b-bottom:after {
  left: auto;
  right: 0%;
  margin: 0;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 0 solid #fff;
  border-bottom: 1px solid #ddd;
  clear: both;
  position: relative;
}

ul,
ol {
  margin-bottom: 5px;
  margin-top: 5px;
}
ul {
  padding-left: 20px;
}

::selection {
  color: #fff;
  background: $secondary;
}
::-moz-selection {
  color: #fff;
  background: $secondary;
}

/* button adaoptions
=================================================================== */
button:focus {
  outline: none !important;
}

.btn {
  border-radius: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 13px 20px 10px;
  margin: 0 0 10px 0;
}
.btn .fa {
  padding: 0 0 3px 15px;
  font-size: 26px;
  vertical-align: middle;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  color: #fff;
  .fa {
    color: #fff;
  }
}
.btn-link .fa {
  color: $theme-grey;
}

.btn-clear {
  color: $theme-greydark;
  padding-left: 0;
  padding-right: 0;
}
.btn-clear .fa {
  color: $primary;
}
.btn-clear:hover,
.btn-clear:active,
.btn-clear:focus {
  box-shadow: none !important;
}

.btn-white-transparent {
  background: rgba(255, 255, 255, 0.1);
  color: $secondary;
}
.btn-white-transparent:hover {
  background: rgba(255, 255, 255, 0.2);
}
.btn-round {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}
.btn-round i {
  font-size: 33px;
  line-height: 50px;
}

.btn-round:hover {
  cursor: pointer;
}
.bg-dark-image .btn-round {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin: 0 0 0 -25px;
}

/* gutter with zero space
================================================== */

.gutter0 {
  padding-left: 0px;
  padding-right: 0px;
}
.gutter0 .row {
  margin-left: 0px;
  margin-right: 0px;
}
.gutter0 .row > [class^="col-"],
.gutter0 .row > [class*=" col-"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gutter10 {
  padding-left: 5px;
  padding-right: 5px;
}
.gutter10 .row {
  margin-left: -5px;
  margin-right: -5px;
}
.gutter10 .row > [class^="col-"],
.gutter10 .row > [class*=" col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
