/**
 * Video Widget Styles
 *
 * Dirk Jan <smartprogrammer88@gmail.com>
 * @version 1.0.0
 */
.video-widget {
  min-width: 80px;
  min-height: 80px;
  color: #FD5092;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Rubik Light;


  .poster {
    position: relative;

    .btn-play {
      display: flex;
      align-items: center;
      position: absolute;
      color: #FD5092;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: none;
      background: transparent;
      cursor: pointer;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        margin: 0 20px;
        background: white;
        border: none;
        border-radius: 50%;
        box-shadow: 0 12px 20px 0 rgba(247, 98, 111, 0.6);

        i {
          font-size: 26px;
          margin-left: 7px;
        }
      }

      img {
        padding: 0;
        margin: 0;
      }

      @media (max-width: $screen-xs-max) {
        // left: 0;
        // width: 100%;
        // transform: translateY(50%);
        text-align: center;
      }
    }
  }

  &.small {
    min-width: 40px;
    min-height: 40px;
    font-size: 12px;
    font-family: Rubik;
    font-weight: 500;

    .btn-play {
      .circle {
        width: 40px;
        height: 40px;
        margin: 0 10px;
        box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.08);

        i {
          font-size: 13px;
          margin-left: 3px;
        }
      }
    }
  }

  &.secondary {
    color: #EF7B40;

    .btn-play {
      color: white;
      width: 100%;
      height: 100%;
    }

    .btn-play .circle i {
      color: #EF7B40;
    }
  }

  #video_player {
    // display: none;
    position: absolute;
    left: -1000000px;
  }

}