hr.scrivito-space-widget {
  border: 0;
  margin: 0;
  clear: both;
}

hr.scrivito-space-widget.xs {
  padding-top: 10px;
}

hr.scrivito-space-widget.s {
  padding-top: 20px;
}

hr.scrivito-space-widget.m {
  padding-top: 40px;
}

hr.scrivito-space-widget.l {
  padding-top: 60px;
}

hr.scrivito-space-widget.xl {
  padding-top: 80px;
}

hr.scrivito-space-widget.xxl {
  padding-top: 100px;
}

